<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>1</key>
    <array>
      <dict>
        <key>name</key>
        <string>Iquique</string>
        <key>provincia_id</key>
        <string>11</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Tamarugal</string>
        <key>provincia_id</key>
        <string>14</string>
      </dict>
    </array>
    <key>2</key>
    <array>
      <dict>
        <key>name</key>
        <string>Antofagasta</string>
        <key>provincia_id</key>
        <string>21</string>
      </dict>
      <dict>
        <key>name</key>
        <string>El Loa</string>
        <key>provincia_id</key>
        <string>22</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Tocopilla</string>
        <key>provincia_id</key>
        <string>23</string>
      </dict>
    </array>
    <key>3</key>
    <array>
      <dict>
        <key>name</key>
        <string>Copiapó</string>
        <key>provincia_id</key>
        <string>31</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Chañaral</string>
        <key>provincia_id</key>
        <string>32</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Huasco</string>
        <key>provincia_id</key>
        <string>33</string>
      </dict>
    </array>
    <key>4</key>
    <array>
      <dict>
        <key>name</key>
        <string>Elqui</string>
        <key>provincia_id</key>
        <string>41</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Choapa</string>
        <key>provincia_id</key>
        <string>42</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Limarí</string>
        <key>provincia_id</key>
        <string>43</string>
      </dict>
    </array>
    <key>5</key>
    <array>
      <dict>
        <key>name</key>
        <string>Valparaíso</string>
        <key>provincia_id</key>
        <string>51</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Isla de Pascua</string>
        <key>provincia_id</key>
        <string>52</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Los Andes</string>
        <key>provincia_id</key>
        <string>53</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Petorca</string>
        <key>provincia_id</key>
        <string>54</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Quillota</string>
        <key>provincia_id</key>
        <string>55</string>
      </dict>
      <dict>
        <key>name</key>
        <string>San Antonio</string>
        <key>provincia_id</key>
        <string>56</string>
      </dict>
      <dict>
        <key>name</key>
        <string>San Felipe de Aconcagua</string>
        <key>provincia_id</key>
        <string>57</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Marga Marga</string>
        <key>provincia_id</key>
        <string>58</string>
      </dict>
    </array>
    <key>6</key>
    <array>
      <dict>
        <key>name</key>
        <string>Cachapoal</string>
        <key>provincia_id</key>
        <string>61</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Cardenal Caro</string>
        <key>provincia_id</key>
        <string>62</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Colchagua</string>
        <key>provincia_id</key>
        <string>63</string>
      </dict>
    </array>
    <key>7</key>
    <array>
      <dict>
        <key>name</key>
        <string>Talca</string>
        <key>provincia_id</key>
        <string>71</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Cauquenes</string>
        <key>provincia_id</key>
        <string>72</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Curicó</string>
        <key>provincia_id</key>
        <string>73</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Linares</string>
        <key>provincia_id</key>
        <string>74</string>
      </dict>
    </array>
    <key>8</key>
    <array>
      <dict>
        <key>name</key>
        <string>Concepción</string>
        <key>provincia_id</key>
        <string>81</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Arauco</string>
        <key>provincia_id</key>
        <string>82</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Biobío</string>
        <key>provincia_id</key>
        <string>83</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Ñuble</string>
        <key>provincia_id</key>
        <string>84</string>
      </dict>
    </array>
    <key>9</key>
    <array>
      <dict>
        <key>name</key>
        <string>Cautín</string>
        <key>provincia_id</key>
        <string>91</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Malleco</string>
        <key>provincia_id</key>
        <string>92</string>
      </dict>
    </array>
    <key>10</key>
    <array>
      <dict>
        <key>name</key>
        <string>Llanquihue</string>
        <key>provincia_id</key>
        <string>101</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Chiloé</string>
        <key>provincia_id</key>
        <string>102</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Osorno</string>
        <key>provincia_id</key>
        <string>103</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Palena</string>
        <key>provincia_id</key>
        <string>104</string>
      </dict>
    </array>
    <key>11</key>
    <array>
      <dict>
        <key>name</key>
        <string>Coihaique</string>
        <key>provincia_id</key>
        <string>111</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Aisén</string>
        <key>provincia_id</key>
        <string>112</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Capitán Prat</string>
        <key>provincia_id</key>
        <string>113</string>
      </dict>
      <dict>
        <key>name</key>
        <string>General Carrera</string>
        <key>provincia_id</key>
        <string>114</string>
      </dict>
    </array>
    <key>12</key>
    <array>
      <dict>
        <key>name</key>
        <string>Magallanes</string>
        <key>provincia_id</key>
        <string>121</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Antártica Chilena</string>
        <key>provincia_id</key>
        <string>122</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Tierra del Fuego</string>
        <key>provincia_id</key>
        <string>123</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Última Esperanza</string>
        <key>provincia_id</key>
        <string>124</string>
      </dict>
    </array>
    <key>13</key>
    <array>
      <dict>
        <key>name</key>
        <string>Santiago</string>
        <key>provincia_id</key>
        <string>131</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Cordillera</string>
        <key>provincia_id</key>
        <string>132</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Chacabuco</string>
        <key>provincia_id</key>
        <string>133</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Maipo</string>
        <key>provincia_id</key>
        <string>134</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Melipilla</string>
        <key>provincia_id</key>
        <string>135</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Talagante</string>
        <key>provincia_id</key>
        <string>136</string>
      </dict>
    </array>
    <key>14</key>
    <array>
      <dict>
        <key>name</key>
        <string>Valdivia</string>
        <key>provincia_id</key>
        <string>141</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Ranco</string>
        <key>provincia_id</key>
        <string>142</string>
      </dict>
    </array>
    <key>15</key>
    <array>
      <dict>
        <key>name</key>
        <string>Arica</string>
        <key>provincia_id</key>
        <string>151</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Parinacota</string>
        <key>provincia_id</key>
        <string>152</string>
      </dict>
    </array>
  </dict>
</plist>
